html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
  height: 100%;
  width: 100%;
}

.admin {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 15vh;
  justify-content: center;
}

.grid {
  /* display: grid; */
  width: 1000px;
  margin-bottom: 25px;
}

.widget {
  margin: 0px;
  border-radius: 5px;

}
.widget h3{
  color: white;
  letter-spacing: 1px;
  text-align: center;

}

.polar {
  /* padding: 10px; */
}

.transparent {

  background-color: black;
}
.graphcoloring {

  background-color: #A3E5C6;
}
.statscoloring {

  background-color: #4826C4;
}
.mapcoloring {
  background-color: #2995B5;
}
.reportcoloring {
  background-color: #328B79;
}
.titleAndSearch{
  color: white;
  background-color: blue;
}

.label {
  pointer-events: none;
  user-select: none;
}
