html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
  width: 100%;
  overflow:auto;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
}

.hacker {
  position: obsolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.homepage {
  /* background-color: black; */
  /* background-image: url("./img/hacker.gif"); */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 10;
  overflow:auto;
}

.globe {
  height: 100%;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.form {
  margin-top: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}

.formControl {
  border: 1px solid #0ed3cd;
  background-color: rgba(0, 0, 0, 0.25);
  font-family: 'Proxima Nova', sans-serif;
  color: white;
  padding: 12px 20px;
  margin: 8px 25px;
  width: 250px;
  border-radius: 8px;
  font-size: 11px;
  letter-spacing: 2px;
  z-index: 10;
}

.formControl:focus {
  outline: none;
}

.formColor {
  border-color: red;
  transition: all 0.5s;
}

.form-errors {
  color: white;
}

.btn {
  background-color: #0ed3cd;
  color: white;
  padding: 12px 0;
  margin: 20px;
  font-family: 'Proxima Nova', sans-serif;
  width: 150px;
  border-radius: 5px;
  letter-spacing: 2px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  z-index: 10;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:focus{
  outline: none
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.logo {
  height: 45px;
  object-fit: contain;
}

.logo-container {
  position: fixed;
  top: 60px;
  left: 60px;
  z-index: 10;
}

/* bottom */

.fadeOut{
     opacity:0 !important;
     /* width:0;
     height:0; */
     transition: opacity 0.5s;

}
.fadeIn{
     opacity:1;
     /* width:100px;
     height:100px; */
     transition: all 0.5s;

}

.hidden {
  background-color: #333333;
  color: #333;
  border-color: #333;
  transition: all 0.5s;
}

.hidden::placeholder {
  color: #333;
}

.disabled {
  opacity: 0.5;
  filter: brightness(0.5);
  pointer-events: none;
  transition: all 0.5s;
}
